.App {
  text-align: center;
  color: var(--fg-color);
  background: var(--bg-color);
}
hr {
  border: 0;
  margin: 2px;
  border-top: 9px solid var(--fg-color-secondary);
}
.App-logo {
  height: 400vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin-left infinite 20s linear;
  }
  .rotate-left {
animation: spin-left infinite 20s linear;
  }
  .rotate-right {
animation: spin-right infinite 20s linear;
  }
}

.App-header {
  background-color: var(--bg-color);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--fg-color);
}
.line {
  display:inline-block;
  padding:2px;
  margin-bottom:-4px;
  margin-top: -4px;
  overflow: auto;
}
.App-link {
  color: #61dafb;
}

@keyframes spin-left {
  from {
    transform: rotate(-360deg) rotate(0deg) rotate(90deg);;
  }
  to {
    transform: rotate(0deg) rotate(357deg);
  }
}
@keyframes spin-right {
  from {
    transform: rotate(0deg) rotate(90deg);
  }
  to {
    transform: rotate(360deg) rotate(357deg);
  }
}