/* RED color class  */
.red {
 
     color: red;
 
 }

 /* GREEN color class  */
 .green {
 
     color: green;
 
 }
 
 /* BLUE color class  */
 .blue {
 
     color: blue;
 
 }
 
 /* YELLOW color class  */
 .yellow {
 
     color: yellow;
 
 }
 
 /* PURPLE color class  */
 .purple {
 
     color: purple;
 
 }
 
 /* ORANGE color class  */
 .orange {
 
     color: orange;
 
 }
 
 /* PINK color class  */
 .pink {
 
     color: pink;
 
 }
 
 /* GREY color class  */
 .grey {
 
     color: grey;
 
 }
 
 /* BLACK color class  */
 .black {
 
     color: black;
 
 }
 
 /* WHITE color class  */
 .white {
 
     color: white;
 
 }
